@font-face {
  font-family: CircularStdFont;
  src: url(/fonts/CircularStdFont.otf);
}
body {
  font-family: CircularStdFont;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  padding: 0;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-color: #d64b6a;
  --secondary-color: grey;
}
